body {
  font-family: "Courier New", Courier, monospace;
}

.image-top {
  height: 100px;
  width: 100px;
}

.image1 {
  background: url("./assets/disney-cars-aladdin-raiponce-les-clins-d-oeil-caches-dans-les-films-disney-pixar-33-photos.jpg")
    center/cover;
}

.image2 {
  background: url("./assets/cover-r4x3w1000-583516a235146-inception-inception-21-07-2010-5-g.jpg")
    center/cover;
}

.image3 {
  background: url("./assets/EA34B244F31C104EBB202E8A769CE96B56C42AA4FE63E5B93230D4A7A1E15FB0.png")
    center/cover;
}
.top {
  display: flex;
  justify-content: space-between;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./assets/Wonder-Woman-1984.jpg") center/cover;
}

.top-right {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  color: white;
}

button {
  border-radius: 19.9rem;
  border-color: white;
  background: transparent;
}
